@using Models

<div class="col-12">
	<div class="card">
		@if (TitleTemplate == null)
		{
			@if (!string.IsNullOrEmpty(Title))
			{
				<div class="card-header">
					@Title
				</div>
			}
		}
		else
		{
			@TitleTemplate
		}
		<div class="card-body">
			<div class="mb-2 row">
				<div class="col-3">
					<label>Line 1</label>
				</div>
				<div class="col-9">
					<InputText @bind-Value=Address.Line1 Class="form-control" />
					<ValidationMessage For=@(() => Address.Line1) />
				</div>
			</div>

			<div class="mb-2 row">
				<div class="col-3">
					<label>Line 2</label>
				</div>
				<div class="col-9">
					<InputText @bind-Value=Address.Line2 Class="form-control" />
					<ValidationMessage For=@(() => Address.Line2) />
				</div>
			</div>

			<div class="mb-2 row">
				<div class="col-3">
					<label>Line 3</label>
				</div>
				<div class="col-9">
					<InputText @bind-Value=Address.Line3 Class="form-control" />
					<ValidationMessage For=@(() => Address.Line3) />
				</div>
			</div>

			<div class="mb-2 row">
				<div class="col-3">
					<label>Town</label>
				</div>
				<div class="col-9">
					<InputText @bind-Value=Address.Town Class="form-control" />
					<ValidationMessage For=@(() => Address.Town) />
				</div>
			</div>

			<div class="mb-2 row">
				<div class="col-3">
					<label>Area</label>
				</div>
				<div class="col-9">
					<InputText @bind-Value=Address.Area Class="form-control" />
					<ValidationMessage For=@(() => Address.Area) />
				</div>
			</div>

			<div class="mb-2 row">
				<div class="col-3">
					<label>Country</label>
				</div>
				<div class="col-9">
					<InputText @bind-Value=Address.Country Class="form-control" />
					<ValidationMessage For=@(() => Address.Country) />
				</div>
			</div>

			<div class="mb-2 row">
				<div class="col-3">
					<label>Postal code</label>
				</div>
				<div class="col-9">
					<InputText @bind-Value=Address.PostalCode Class="form-control" />
					<ValidationMessage For=@(() => Address.PostalCode) />
				</div>
			</div>
		</div>
	</div>
</div>

@code
{
	[Parameter]
	public string Title { get; set; }

	[Parameter]
	public Address Address { get; set; }

	[Parameter]
	public RenderFragment TitleTemplate { get; set; }
}
