@page "/"
@using FluentValidationSample.FluentValidators
@using Morris.Blazor.Validation
@using Morris.Blazor.Validation.Extensions
@using Morris.Blazor.FluentValidation

<EditForm Model=@Person OnSubmit=SubmitForm>
	<Morris.Blazor.Validation.Validate ValidationProperties=@(ValidationProperties.Set.FluentValidator<PersonValidator>()) OnTransformModel=OnTransformModel />
	<div class="mb-2 row">
		<div class="col-3">
			<label>Salutation</label>
		</div>
		<div class="col-9">
			<InputText @bind-Value=@Person.Salutation Class="form-control" />
			<ValidationMessage For=@(() => Person.Salutation) />
		</div>
	</div>
	<div class="mb-2 row">
		<div class="col-3">
			<label>Given name</label>
		</div>
		<div class="col-9">
			<InputText @bind-Value=@Person.GivenName Class="form-control" />
			<ValidationMessage For=@(() => Person.GivenName) />
		</div>
	</div>
	<div class="mb-2 row">
		<div class="col-3">
			<label>Middle names</label>
		</div>
		<div class="col-9">
			<InputText @bind-Value=@Person.MiddleNames Class="form-control" />
			<ValidationMessage For=@(() => Person.MiddleNames) />
		</div>
	</div>
	<div class="mb-2 row">
		<div class="col-3">
			<label>Family name</label>
		</div>
		<div class="col-9">
			<InputText @bind-Value=@Person.FamilyName Class="form-control" />
			<ValidationMessage For=@(() => Person.FamilyName) />
		</div>
	</div>
	<div class="mb-2 row">
		<div class="col-3">
			<label>Email</label>
		</div>
		<div class="col-9">
			<InputText @bind-Value=@Person.EmailAddress Class="form-control" />
			<ValidationMessage For=@(() => Person.EmailAddress) />
		</div>
	</div>
	<ValidationMessage For=@( () => Person.Addresses ) />
	@foreach (var namedAddress in Person.Addresses)
	{
		<div class="row mt-4">
			<AddressEdit Address=@namedAddress.Address Title=@namedAddress.Name>
				<TitleTemplate>
					<div class="card-header">
						@namedAddress.Name
						<button type="button" class="btn btn-danger float-right"
							@onclick=@(() => DeleteAddress(namedAddress))>
							Delete address
						</button>
					</div>
				</TitleTemplate>
			</AddressEdit>
		</div>
	}
	<button type="submit" class="mt-2 btn btn-primary btn-block mb-4 mt-4">Submit</button>
</EditForm>

@code{
	Models.Person Person = new Models.Person();

	private object OnTransformModel(object model)
	{
		// Confirm that the model is of the expected type
		// Do transformations here
		// return the transformed model
        return model;
    }
	void SubmitForm(EditContext editContext)
	{
		editContext.ValidateObjectTree();
	}

	void DeleteAddress(Models.NamedAddress namedAddress)
	{
		Person.Addresses = Person.Addresses
			.Where(x => x != namedAddress)
			.ToList();
	}
}
