@page "/"
@using Morris.Blazor.Validation.Extensions

	<EditForm Model=@Person OnSubmit=SubmitForm>
		<Morris.Blazor.Validation.Validate />
		<div class="row">
			<div class="col-3">
				<label>Salutation</label>
			</div>
			<div class="col-9">
				<InputText @bind-Value=@Person.Salutation Class="form-control" />
				<ValidationMessage For=@(() => Person.Salutation) />
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<label>Given name</label>
			</div>
			<div class="col-9">
				<InputText @bind-Value=@Person.GivenName Class="form-control" />
				<ValidationMessage For=@(() => Person.GivenName) />
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<label>Middle names</label>
			</div>
			<div class="col-9">
				<InputText @bind-Value=@Person.MiddleNames Class="form-control" />
				<ValidationMessage For=@(() => Person.MiddleNames) />
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<label>Family name</label>
			</div>
			<div class="col-9">
				<InputText @bind-Value=@Person.FamilyName Class="form-control" />
				<ValidationMessage For=@(() => Person.FamilyName) />
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<label>Email</label>
			</div>
			<div class="col-9">
				<InputText @bind-Value=@Person.EmailAddress Class="form-control" />
				<ValidationMessage For=@(() => Person.EmailAddress) />
			</div>
		</div>
		@foreach (var namedAddress in Person.Addresses)
		{
			<div class="row mt-4">
				<AddressEdit Address=namedAddress.Address Title=@namedAddress.Name />
			</div>
		}
		<button type="submit" class="btn btn-primary">Submit</button>
	</EditForm>

@code{
	Models.Person Person = new Models.Person();

	void SubmitForm(EditContext editContext)
	{
		editContext.ValidateObjectTree();
	}
}
